In [16]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

Collecting altair
  Downloading altair-4.2.0-py3-none-any.whl (812 kB)
     |████████████████████████████████| 812 kB 770 kB/s eta 0:00:01
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.9/site-packages (from altair) (2.11.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from altair) (1.20.3)
Requirement already satisfied: entrypoints in /opt/anaconda3/lib/python3.9/site-packages (from altair) (0.3)
Requirement already satisfied: jsonschema>=3.0 in /opt/anaconda3/lib/python3.9/site-packages (from altair) (3.2.0)
Requirement already satisfied: pandas>=0.18 in /opt/anaconda3/lib/python3.9/site-packages (from altair) (1.3.4)
Requirement already satisfied: toolz in /opt/anaconda3/lib/python3.9/site-packages (from altair) (0.11.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: six>=1.11.0 in /opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (1.16.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (21.2.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (58.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.9/site-packages (from jinja2->altair) (1.1.1)
Installing collected packages: altair
Successfully installed altair-4.2.0

In [4]:
file_url = 'https://raw.githubusercontent.com/fenago/MLEssentials2/main/datasets/Mall_Customers.csv'

In [5]:
data = pd.read_csv(file_url, \
                 usecols=['Age', \
                          'Annual Income (k$)', \
'Spending Score (1-100)'])

In [6]:
#@title Instantiate k-means with a random state of 42 and save it into a variable called kmeans
kmeans = KMeans(random_state=42)

In [7]:
#@title Now feed k-means with our training data
X = data[['Age', 'Annual Income (k$)']]

In [8]:
#@title Now fit kmeans with this training data:
kmeans.fit(X)

KMeans(random_state=42)

In [9]:
y_pred = kmeans.predict(X)

In [10]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 6, 1, 6, 1, 6, 1, 1, 1, 1, 1, 6, 1, 1, 1,
       6, 1, 6, 1, 6, 1, 1, 1, 6, 1, 6, 1, 6, 1, 6, 1, 1, 1, 6, 1, 6, 1,
       6, 1, 6, 1, 1, 1, 6, 1, 5, 6, 6, 6, 6, 3, 5, 6, 3, 5, 3, 6, 3, 5,
       6, 3, 5, 5, 3, 6, 3, 3, 3, 5, 0, 0, 5, 0, 3, 0, 3, 0, 5, 0, 3, 5,
       5, 0, 3, 5, 0, 0, 5, 5, 0, 5, 0, 5, 5, 0, 3, 5, 0, 5, 3, 0, 3, 3,
       3, 5, 0, 5, 5, 5, 3, 0, 0, 0, 5, 0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0,
       4, 4, 4, 4, 0, 4, 4, 4, 0, 4, 4, 4, 4, 4, 0, 4, 4, 4, 4, 4, 4, 4,
       0, 4, 4, 4, 4, 4, 0, 4, 4, 4, 2, 4, 2, 4, 4, 4, 2, 4, 4, 4, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 7, 7, 7, 7, 7, 7,
       7, 7], dtype=int32)

In [11]:
data['cluster'] = y_pred

In [12]:
data.head()

   Age  Annual Income (k$)  Spending Score (1-100)  cluster
0   19                  15                      39        1
1   21                  15                      81        1
2   20                  16                       6        1
3   23                  16                      77        1
4   31                  17                      40        1

In [13]:
import pandas as pd
data.pivot_table(values=["Age","Annual Income (k$)"],index="cluster")

               Age  Annual Income (k$)
cluster
0        46.062500           65.187500
1        27.638889           26.777778
2        40.842105           95.894737
3        64.631579           54.684211
4        31.184211           78.684211
5        23.541667           56.916667
6        52.291667           35.541667
7        36.500000          124.000000

In [17]:
import altair as alt
scatter_plot = alt.Chart(data).mark_circle()