In [1]:
#@title Importing modules
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import altair as alt

In [3]:
file_url = 'https://raw.githubusercontent.com/fenago/DSBook/main/Chapter%205/Mall_Customers.csv'

In [4]:
#@title Loading dataset
data = pd.read_csv(file_url, \
                 usecols=['Age', \
                          'Annual Income (k$)', \
'Spending Score (1-100)'])

In [5]:
data.head()

   Age  Annual Income (k$)  Spending Score (1-100)
0   19                  15                      39
1   21                  15                      81
2   20                  16                       6
3   23                  16                      77
4   31                  17                      40

In [6]:
#@title Assigning extracted columns to variable X
X = data[['Age', \
        'Annual Income (k$)']]

In [7]:
#@title Create an empty pandas DataFrame called clusters and an empty list called inertia
clusters = pd.DataFrame()
inertia = []

In [8]:
#@title using the range function to generate a list containing the range of cluster numbers, from 1 to 15
clusters['cluster_range'] = range(1, 15)

In [9]:
#@title Create a for loop to go through each cluster number and fit a k-means model accordingly, 
for k in clusters['cluster_range']:
    kmeans = KMeans(n_clusters=k).fit(X)
    inertia.append(kmeans.inertia_)

In [10]:
#@title Assign the inertia list to a new column called 'inertia'
clusters['inertia'] = inertia
clusters

    cluster_range        inertia
0               1  176108.780000
1               2   87121.565915
2               3   59492.737995
3               4   39529.887967
4               5   31651.380885
5               6   25416.402459
6               7   21950.600212
7               8   18873.469208
8               9   16084.361250
9              10   13681.995123
10             11   12552.411241
11             12   11126.346728
12             13   10328.035189
13             14    9554.583604

In [11]:
#@title use mark_line() and encode() from the altair package to plot the Elbow graph with 'cluster_range'
alt.Chart(clusters).mark_line()\
   .encode(alt.X('cluster_range'), alt.Y('inertia'))

alt.Chart(...)

In [12]:
#@title identify the optimal number of clusters, and assign this value to a variable called optim_cluster:
optim_cluster = 4

In [13]:
#@title Train a k-means model with this number of clusters and a random_state value of 42 using the fit method from sklearn
kmeans = KMeans(random_state=42, n_clusters=optim_cluster)
kmeans.fit(X)

KMeans(n_clusters=4, random_state=42)

In [14]:
#@title using the predict method from sklearn, get the predicted assigned cluster for each data point 
data['cluster2'] = kmeans.predict(X)

In [15]:
#@title Now plot the scatter plot using the mark_circle() and encode() methods from the altair package
alt.Chart(data).mark_circle()\
             .encode\
              (x='Age', \
               y='Annual Income (k$)', \
               color='cluster2:N', \
               tooltip=['Spending Score (1-100)', 'cluster2', \
                        'Age',\
'Annual Income (k$)'])\
             .interactive()

alt.Chart(...)