In [1]:
!pip install numpy==1.19.5

WARNING: The directory '/home/jovyan/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Requirement already satisfied: numpy==1.19.5 in /opt/conda/lib/python3.7/site-packages (1.19.5)

In [1]:
import numpy as np
import pandas as pd

In [2]:
print(np.__version__)

1.21.5

In [3]:
import pandas as pd
bankData = pd.read_csv("https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter13/Dataset/bank-full.csv",sep=";")

In [4]:
bankData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [5]:
bankData.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [6]:
bankData.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [7]:
from sklearn.preprocessing import RobustScaler
rob_scaler = RobustScaler()

In [8]:
# Converting each of the columns to scaled version
bankData['ageScaled'] = rob_scaler.fit_transform\
                        (bankData['age'].values.reshape(-1,1))
bankData['balScaled'] = rob_scaler.fit_transform\
                        (bankData['balance']\
                         .values.reshape(-1,1))
bankData['durScaled'] = rob_scaler.fit_transform\
                        (bankData['duration']\
                         .values.reshape(-1,1))

In [9]:
# Dropping the original columns
bankData.drop(['age','balance','duration'], \
              axis=1, inplace=True)

In [10]:
bankData.head()

,job,marital,education,default,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y,ageScaled,balScaled,durScaled
0,management,married,tertiary,no,yes,no,unknown,5,may,1,-1,0,unknown,no,1.266667,1.250000,0.375000
1,technician,single,secondary,no,yes,no,unknown,5,may,1,-1,0,unknown,no,0.333333,-0.308997,-0.134259
2,entrepreneur,married,secondary,no,yes,yes,unknown,5,may,1,-1,0,unknown,no,-0.400000,-0.328909,-0.481481
3,blue-collar,married,unknown,no,yes,no,unknown,5,may,1,-1,0,unknown,no,0.533333,0.780236,-0.407407
4,unknown,single,unknown,no,no,no,unknown,5,may,1,-1,0,unknown,no,-0.400000,-0.329646,0.083333

In [11]:
bankCat = pd.get_dummies(bankData[['job','marital','education','default','housing','loan','contact','month','poutcome']])

In [12]:
bankCat.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [13]:
bankNum = bankData[['ageScaled','balScaled','day',\
                    'durScaled','campaign','pdays','previous']]
print("Numeric Rows and cols: ", bankNum.shape)
print("Categorical Rows & Cols: ", bankCat.shape)

Numeric Rows and cols:  (45211, 7)
Categorical Rows & Cols:  (45211, 44)

In [14]:
# Merging with the original data frame
# Preparing the X variables
X = pd.concat([bankCat, bankNum], axis=1)
print(X.shape)
# Preparing the Y variable
Y = bankData['y']
print(Y.shape)
X.head()

(45211, 51)
(45211,)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_other,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,1.266667,1.250000,5,0.375000,1,-1,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0.333333,-0.308997,5,-0.134259,1,-1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,-0.400000,-0.328909,5,-0.481481,1,-1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0.533333,0.780236,5,-0.407407,1,-1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,-0.400000,-0.329646,5,0.083333,1,-1,0

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [16]:
X_train, X_test, y_train, y_test = train_test_split\
                                   (X, Y, test_size=0.3, \
                                    random_state=123)

In [17]:
# Defining the LogisticRegression function
bankModel = LogisticRegression()
bankModel.fit(X_train, y_train)

/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
pred = bankModel.predict(X_test)
print('Accuracy of Logistic regression model prediction on '\
      'test set: {:.2f}'\
      .format(bankModel.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set: 0.90

In [19]:
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

[[11704   294]
 [ 1081   485]]
              precision    recall  f1-score   support

          no       0.92      0.98      0.94     11998
         yes       0.62      0.31      0.41      1566

    accuracy                           0.90     13564
   macro avg       0.77      0.64      0.68     13564
weighted avg       0.88      0.90      0.88     13564

In [24]:
print('Percentage of negative class :',\
      (y_train[y_train=='yes'].value_counts()\
       /len(y_train) ) * 100)
print('Percentage of positive class :',\
      (y_train[y_train=='no'].value_counts()\
       /len(y_train) ) * 100)

Percentage of negative class : yes    11.764148
Name: y, dtype: float64
Percentage of positive class : no    88.235852
Name: y, dtype: float64

In [25]:
### Undersampling Example

In [26]:
"""
Let us first join the train_x and train_y for ease of operation
"""
trainData = pd.concat([X_train,y_train],axis=1)

In [27]:
trainData.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous,y
19100,1,0,0,0,0,0,0,0,0,0,...,0,1,0.800000,-0.162979,5,0.236111,1,-1,0,no
37958,1,0,0,0,0,0,0,0,0,0,...,0,0,0.733333,-0.238938,14,0.865741,2,289,19,no
12451,0,1,0,0,0,0,0,0,0,0,...,0,1,0.000000,0.385693,1,1.347222,3,-1,0,no
18263,0,0,0,0,1,0,0,0,0,0,...,0,1,1.333333,-0.330383,31,-0.592593,8,-1,0,no
5128,0,0,0,0,0,0,0,1,0,0,...,0,1,-0.466667,-0.142330,21,-0.435185,2,-1,0,no

In [28]:
ind = trainData[trainData['y']=='yes'].index
print(len(ind))

3723

In [29]:
minData = trainData.loc[ind]
print(minData.shape)

(3723, 52)

In [30]:
ind1 = trainData[trainData['y']=='no'].index
print(len(ind1))

27924

In [31]:
majData = trainData.loc[ind1]
print(majData.shape)
majData.head()

(27924, 52)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous,y
19100,1,0,0,0,0,0,0,0,0,0,...,0,1,0.800000,-0.162979,5,0.236111,1,-1,0,no
37958,1,0,0,0,0,0,0,0,0,0,...,0,0,0.733333,-0.238938,14,0.865741,2,289,19,no
12451,0,1,0,0,0,0,0,0,0,0,...,0,1,0.000000,0.385693,1,1.347222,3,-1,0,no
18263,0,0,0,0,1,0,0,0,0,0,...,0,1,1.333333,-0.330383,31,-0.592593,8,-1,0,no
5128,0,0,0,0,0,0,0,1,0,0,...,0,1,-0.466667,-0.142330,21,-0.435185,2,-1,0,no

In [32]:
majSample = majData.sample(n=len(ind),random_state = 123) # Extracting out 3,723 Records (the len of ind)
"""
Concatenating both data sets and then shuffling the data set
"""
balData = pd.concat([minData,majSample],axis = 0)

In [33]:
majSample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3723 entries, 17387 to 9238
Data columns (total 52 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_admin.           3723 non-null   uint8
 1   job_blue-collar      3723 non-null   uint8
 2   job_entrepreneur     3723 non-null   uint8
 3   job_housemaid        3723 non-null   uint8
 4   job_management       3723 non-null   uint8
 5   job_retired          3723 non-null   uint8
 6   job_self-employed    3723 non-null   uint8
 7   job_services         3723 non-null   uint8
 8   job_student          3723 non-null   uint8
 9   job_technician       3723 non-null   uint8
 10  job_unemployed       3723 non-null   uint8
 11  job_unknown          3723 non-null   uint8
 12  marital_divorced     3723 non-null   uint8
 13  marital_married      3723 non-null   uint8
 14  marital_single       3723 non-null   uint8
 15  education_primary    3723 non-null   uint8
 16  education_secondary  3723 non-null   uint8
 17  education_tertiary   3723 non-null   uint8
 18  education_unknown    3723 non-null   uint8
 19  default_no           3723 non-null   uint8
 20  default_yes          3723 non-null   uint8
 21  housing_no           3723 non-null   uint8
 22  housing_yes          3723 non-null   uint8
 23  loan_no              3723 non-null   uint8
 24  loan_yes             3723 non-null   uint8
 25  contact_cellular     3723 non-null   uint8
 26  contact_telephone    3723 non-null   uint8
 27  contact_unknown      3723 non-null   uint8
 28  month_apr            3723 non-null   uint8
 29  month_aug            3723 non-null   uint8
 30  month_dec            3723 non-null   uint8
 31  month_feb            3723 non-null   uint8
 32  month_jan            3723 non-null   uint8
 33  month_jul            3723 non-null   uint8
 34  month_jun            3723 non-null   uint8
 35  month_mar            3723 non-null   uint8
 36  month_may            3723 non-null   uint8
 37  month_nov            3723 non-null   uint8
 38  month_oct            3723 non-null   uint8
 39  month_sep            3723 non-null   uint8
 40  poutcome_failure     3723 non-null   uint8
 41  poutcome_other       3723 non-null   uint8
 42  poutcome_success     3723 non-null   uint8
 43  poutcome_unknown     3723 non-null   uint8
 44  ageScaled            3723 non-null   float64
 45  balScaled            3723 non-null   float64
 46  day                  3723 non-null   int64
 47  durScaled            3723 non-null   float64
 48  campaign             3723 non-null   int64
 49  pdays                3723 non-null   int64
 50  previous             3723 non-null   int64
 51  y                    3723 non-null   object
dtypes: float64(3), int64(4), object(1), uint8(44)
memory usage: 421.7+ KB

In [34]:
# Shuffling the data set
from sklearn.utils import shuffle
balData = shuffle(balData)
balData.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous,y
15976,0,0,0,0,0,0,1,0,0,0,...,0,1,0.866667,-0.330383,22,-0.138889,1,-1,0,no
37580,0,0,0,0,1,0,0,0,0,0,...,0,1,-0.866667,2.578171,14,3.675926,2,-1,0,yes
18771,1,0,0,0,0,0,0,0,0,0,...,0,1,0.066667,-0.078909,31,4.453704,5,-1,0,yes
39638,0,0,0,0,0,0,0,0,1,0,...,0,1,-0.933333,-0.328171,26,-0.046296,1,-1,0,yes
14155,0,0,0,0,1,0,0,0,0,0,...,0,1,1.066667,-0.179941,11,8.300926,2,-1,0,yes

In [40]:
balData.shape

(7446, 52)

In [41]:
3723*2

7446

In [35]:
# Making the new X_train and y_train
X_trainNew = balData.iloc[:,0:51]
print(X_trainNew.head())
y_trainNew = balData['y']
print(y_trainNew.head())

       job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  \
15976           0                0                 0              0
37580           0                0                 0              0
18771           1                0                 0              0
39638           0                0                 0              0
14155           0                0                 0              0

       job_management  job_retired  job_self-employed  job_services  \
15976               0            0                  1             0
37580               1            0                  0             0
18771               0            0                  0             0
39638               0            0                  0             0
14155               1            0                  0             0

       job_student  job_technician  ...  poutcome_other  poutcome_success  \
15976            0               0  ...               0                 0
37580            0               0  ...               0                 0
18771            0               0  ...               0                 0
39638            1               0  ...               0                 0
14155            0               0  ...               0                 0

       poutcome_unknown  ageScaled  balScaled  day  durScaled  campaign  \
15976                 1   0.866667  -0.330383   22  -0.138889         1
37580                 1  -0.866667   2.578171   14   3.675926         2
18771                 1   0.066667  -0.078909   31   4.453704         5
39638                 1  -0.933333  -0.328171   26  -0.046296         1
14155                 1   1.066667  -0.179941   11   8.300926         2

       pdays  previous
15976     -1         0
37580     -1         0
18771     -1         0
39638     -1         0
14155     -1         0

[5 rows x 51 columns]
15976     no
37580    yes
18771    yes
39638    yes
14155    yes
Name: y, dtype: object

In [36]:
from sklearn.linear_model import LogisticRegression
bankModel1 = LogisticRegression()
bankModel1.fit(X_trainNew, y_trainNew)

/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
pred = bankModel1.predict(X_test)
print('Accuracy of Logistic regression model prediction on '\
      'test set for balanced data set: {:.2f}'\
      .format(bankModel1.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set for balanced data set: 0.83

In [38]:
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

[[9969 2029]
 [ 278 1288]]
              precision    recall  f1-score   support

          no       0.97      0.83      0.90     11998
         yes       0.39      0.82      0.53      1566

    accuracy                           0.83     13564
   macro avg       0.68      0.83      0.71     13564
weighted avg       0.91      0.83      0.85     13564

In [39]:
# SMOTE - Synthetic Minority Oversampling TEchnique

In [40]:
!pip install smote-variants

WARNING: The directory '/home/jovyan/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting smote-variants
  Downloading https://files.pythonhosted.org/packages/f6/be/15b4db362d53ded5960da7d439455d2efa4d99f85626145c4bb415fde153/smote_variants-0.4.0-py3-none-any.whl (134kB)
     |████████████████████████████████| 143kB 14.6MB/s eta 0:00:01
Collecting mkl (from smote-variants)
  Downloading https://files.pythonhosted.org/packages/fd/13/1d5966869047ba26f87da6df52447857b486887f7e5d6469a1bb44953639/mkl-2022.1.0-py2.py3-none-manylinux1_x86_64.whl (256.4MB)
     |████████████████████████████████| 256.4MB 30.8MB/s eta 0:00:01    |█████████                       | 71.6MB 23.1MB/s eta 0:00:08     |█████████                       | 72.7MB 23.1MB/s eta 0:00:08
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from smote-variants) (1.4.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.7/site-packages (from smote-variants) (0.13.2)
Requirement already satisfied: numpy>=1.13.0 in /opt/conda/lib/python3.7/site-packages (from smote-variants) (1.19.5)
Collecting statistics (from smote-variants)
  Downloading https://files.pythonhosted.org/packages/bb/3a/ae99a15e65636559d936dd2159d75af1619491e8cb770859fbc8aa62cef6/statistics-1.0.3.5.tar.gz
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from smote-variants) (0.25.0)
Collecting minisom (from smote-variants)
  Downloading https://files.pythonhosted.org/packages/9f/91/e8c00ed159c6a7f05fbbe80444ac42b6648d6f07c112c56ddac0dc681ec6/MiniSom-2.3.0.tar.gz
Requirement already satisfied: keras in /opt/conda/lib/python3.7/site-packages (from smote-variants) (2.2.4)
Requirement already satisfied: tensorflow in /opt/conda/lib/python3.7/site-packages (from smote-variants) (2.1.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.7/site-packages (from smote-variants) (0.21.3)
Collecting tbb==2021.* (from mkl->smote-variants)
  Downloading https://files.pythonhosted.org/packages/d7/9f/314d2df2b27b73b90175a8b494912a37fbd87cb9e4c2395f5af73fa3e069/tbb-2021.6.0-py2.py3-none-manylinux1_x86_64.whl (4.0MB)
     |████████████████████████████████| 4.0MB 13.1MB/s eta 0:00:01
Collecting intel-openmp==2022.* (from mkl->smote-variants)
  Downloading https://files.pythonhosted.org/packages/03/d5/c409cc56e323fce807b35b4460ade0b7ec12340cf78a33549d1a73fb939d/intel_openmp-2022.1.0-py2.py3-none-manylinux1_x86_64.whl (10.7MB)
     |████████████████████████████████| 10.7MB 23.8MB/s eta 0:00:01
Requirement already satisfied: docutils>=0.3 in /opt/conda/lib/python3.7/site-packages (from statistics->smote-variants) (0.15.2)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas->smote-variants) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas->smote-variants) (2.8.0)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.7/site-packages (from keras->smote-variants) (5.1.2)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from keras->smote-variants) (1.12.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /opt/conda/lib/python3.7/site-packages (from keras->smote-variants) (1.1.0)
Requirement already satisfied: h5py in /opt/conda/lib/python3.7/site-packages (from keras->smote-variants) (2.9.0)
Requirement already satisfied: keras-applications>=1.0.6 in /opt/conda/lib/python3.7/site-packages (from keras->smote-variants) (1.0.8)
Requirement already satisfied: google-pasta>=0.1.6 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (0.2.0)
Requirement already satisfied: tensorboard<2.2.0,>=2.1.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (2.1.1)
Requirement already satisfied: protobuf>=3.8.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (3.9.1)
Requirement already satisfied: astor>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (0.7.1)
Requirement already satisfied: gast==0.2.2 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (0.2.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (3.2.0)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (0.33.4)
Requirement already satisfied: termcolor>=1.1.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (1.1.0)
Requirement already satisfied: wrapt>=1.11.1 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (1.12.1)
Requirement already satisfied: grpcio>=1.8.6 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (1.16.1)
Requirement already satisfied: absl-py>=0.7.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (0.7.1)
Requirement already satisfied: tensorflow-estimator<2.2.0,>=2.1.0rc0 in /opt/conda/lib/python3.7/site-packages (from tensorflow->smote-variants) (2.1.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (1.13.1)
Requirement already satisfied: werkzeug>=0.11.15 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (0.15.5)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (0.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (2.22.0)
Requirement already satisfied: markdown>=2.6.8 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (3.1.1)
Requirement already satisfied: setuptools>=41.0.0 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (41.0.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (4.1.0)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /opt/conda/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (4.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (1.3.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (1.25.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (3.0.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/conda/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow->smote-variants) (3.0.1)
Building wheels for collected packages: statistics, minisom
  Building wheel for statistics (setup.py) ... done
  Created wheel for statistics: filename=statistics-1.0.3.5-cp37-none-any.whl size=7454 sha256=6fe5e6f2c31062a4c5dfa1e41ed9ffe43e3e58205bd5e76d94c272f4af2d5256
  Stored in directory: /home/jovyan/.cache/pip/wheels/75/55/90/73aa7662bfb4565b567618547a275f01372a678ca92ecd64f3
  Building wheel for minisom (setup.py) ... done
  Created wheel for minisom: filename=MiniSom-2.3.0-cp37-none-any.whl size=9020 sha256=636f2e144b686e4bb4eecf6919058cd83418fb0b4964cab67a5bd40973505c30
  Stored in directory: /home/jovyan/.cache/pip/wheels/fa/fc/53/1af28011f9ef2252f5dc34944fb445255385a8f110fb9528f5
Successfully built statistics minisom
Installing collected packages: tbb, intel-openmp, mkl, statistics, minisom, smote-variants
Successfully installed intel-openmp-2022.1.0 minisom-2.3.0 mkl-2022.1.0 smote-variants-0.4.0 statistics-1.0.3.5 tbb-2021.6.0

In [41]:
# Shape before oversampling
print("Before OverSampling count of yes: {}"\
      .format(sum(y_train=='yes')))
print("Before OverSampling count of no: {} \n"\
      .format(sum(y_train=='no')))

Before OverSampling count of yes: 3723
Before OverSampling count of no: 27924

In [42]:
import smote_variants as sv
import numpy as np

In [43]:
# Instantiating the SMOTE class
oversampler= sv.SMOTE()

In [44]:
# Creating new training set
X_train_os, y_train_os = oversampler.sample\
                         (np.array(X_train), np.array(y_train))

2022-05-11 18:54:01,290:INFO:SMOTE: Running sampling via ('SMOTE', "{'proportion': 1.0, 'n_neighbors': 5, 'n_jobs': 1, 'random_state': None}")

In [45]:
# Shape after oversampling
print('After OverSampling, the shape of train_X: {}'\
      .format(X_train_os.shape))
print('After OverSampling, the shape of train_y: {} \n'\
      .format(y_train_os.shape))
print("After OverSampling, counts of label 'Yes': {}"\
      .format(sum(y_train_os=='yes')))
print("After OverSampling, counts of label 'no': {}"\
      .format(sum(y_train_os=='no')))

After OverSampling, the shape of train_X: (55848, 51)
After OverSampling, the shape of train_y: (55848,)

After OverSampling, counts of label 'Yes': 27924
After OverSampling, counts of label 'no': 27924

In [46]:
# Training the model with Logistic regression model
from sklearn.linear_model import LogisticRegression
bankModel2 = LogisticRegression()
bankModel2.fit(X_train_os, y_train_os)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
pred = bankModel2.predict(X_test)

In [48]:
print('Accuracy of Logistic regression model prediction on '\
      'test set for Smote balanced data set: {:.2f}'\
      .format(bankModel2.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set for Smote balanced data set: 0.85

In [49]:
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)

[[10268  1730]
 [  319  1247]]

In [50]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          no       0.97      0.86      0.91     11998
         yes       0.42      0.80      0.55      1566

    accuracy                           0.85     13564
   macro avg       0.69      0.83      0.73     13564
weighted avg       0.91      0.85      0.87     13564

In [51]:
# MSMOTE - combo of under and over sampling... might NOT work b/c we are using CPUs and not GPUs...

In [52]:
# Shape before oversampling
print("Before OverSampling count of yes: {}"\
      .format(sum(y_train=='yes')))
print("Before OverSampling count of no: {} \n"\
      .format(sum(y_train=='no')))

Before OverSampling count of yes: 3723
Before OverSampling count of no: 27924

In [53]:
import smote_variants as sv
import numpy as np

In [54]:
# Instantiating the MSMOTE class
oversampler= sv.MSMOTE()

In [55]:
# Creating new training set
X_train_os, y_train_os = oversampler.sample\
                         (np.array(X_train), np.array(y_train))

2022-05-11 19:03:19,582:INFO:MSMOTE: Running sampling via ('MSMOTE', "{'proportion': 1.0, 'n_neighbors': 5, 'n_jobs': 1, 'random_state': None}")

In [56]:
# Shape after oversampling
print('After OverSampling, the shape of train_X: {}'\
      .format(X_train_os.shape))
print('After OverSampling, the shape of train_y: {} \n'\
      .format(y_train_os.shape))
print("After OverSampling, counts of label 'Yes': {}"\
      .format(sum(y_train_os=='yes')))
print("After OverSampling, counts of label 'no': {}"\
      .format(sum(y_train_os=='no')))

After OverSampling, the shape of train_X: (55848, 51)
After OverSampling, the shape of train_y: (55848,)

After OverSampling, counts of label 'Yes': 27924
After OverSampling, counts of label 'no': 27924

In [57]:
# Training the model with Logistic regression model
from sklearn.linear_model import LogisticRegression
# Defining the LogisticRegression function
bankModel3 = LogisticRegression()
bankModel3.fit(X_train_os, y_train_os)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [58]:
pred = bankModel3.predict(X_test)

In [59]:
print('Accuracy of Logistic regression model prediction on '\
      'test set for MSMOTE balanced data set: {:.2f}'\
      .format(bankModel3.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set for MSMOTE balanced data set: 0.85

In [60]:
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)

[[10296  1702]
 [  329  1237]]

In [61]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          no       0.97      0.86      0.91     11998
         yes       0.42      0.79      0.55      1566

    accuracy                           0.85     13564
   macro avg       0.69      0.82      0.73     13564
weighted avg       0.91      0.85      0.87     13564