In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/zheng/Downloads/bureau.csv')

In [3]:
df.shape

(1716428, 17)

In [4]:
df.head(15)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.00,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.00,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.00,71017.38,108982.62,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.0,0,42103.80,42103.80,0.00,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.00,0.00,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.0,0,103007.70,0.00,0.00,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.0,0,4500.00,0.00,0.00,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.0,0,337500.00,0.00,0.00,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.00,0.00,0.00,0.0,Consumer credit,-706,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.0,0,7033500.00,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.0,0,89910.00,76905.00,0.00,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.00,0.00,0.00,0.0,Credit card,-185,NaN

In [12]:
df.drop(columns=['CREDIT_ACTIVE','CREDIT_CURRENCY','CREDIT_TYPE'],inplace=True)

In [13]:
df.dtypes

SK_ID_CURR                  int64
SK_ID_BUREAU                int64
DAYS_CREDIT                 int64
CREDIT_DAY_OVERDUE          int64
DAYS_CREDIT_ENDDATE       float64
DAYS_ENDDATE_FACT         float64
AMT_CREDIT_MAX_OVERDUE    float64
CNT_CREDIT_PROLONG          int64
AMT_CREDIT_SUM            float64
AMT_CREDIT_SUM_DEBT       float64
AMT_CREDIT_SUM_LIMIT      float64
AMT_CREDIT_SUM_OVERDUE    float64
DAYS_CREDIT_UPDATE          int64
AMT_ANNUITY               float64
dtype: object

In [18]:
df['SK_ID_CURR'].nunique()

305811

In [20]:
df.isna().sum()/len(df)

SK_ID_CURR                0.000000
SK_ID_BUREAU              0.000000
DAYS_CREDIT               0.000000
CREDIT_DAY_OVERDUE        0.000000
DAYS_CREDIT_ENDDATE       0.061496
DAYS_ENDDATE_FACT         0.369170
AMT_CREDIT_MAX_OVERDUE    0.655133
CNT_CREDIT_PROLONG        0.000000
AMT_CREDIT_SUM            0.000008
AMT_CREDIT_SUM_DEBT       0.150119
AMT_CREDIT_SUM_LIMIT      0.344774
AMT_CREDIT_SUM_OVERDUE    0.000000
DAYS_CREDIT_UPDATE        0.000000
AMT_ANNUITY               0.714735
dtype: float64

In [22]:
df.drop(columns = ['AMT_CREDIT_MAX_OVERDUE','AMT_ANNUITY'])

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE
0,215354,5714462,-497,0,-153.0,-153.0,0,91323.00,0.0,NaN,0.0,-131
1,215354,5714463,-208,0,1075.0,NaN,0,225000.00,171342.0,NaN,0.0,-20
2,215354,5714464,-203,0,528.0,NaN,0,464323.50,NaN,NaN,0.0,-16
3,215354,5714465,-203,0,NaN,NaN,0,90000.00,NaN,NaN,0.0,-16
4,215354,5714466,-629,0,1197.0,NaN,0,2700000.00,NaN,NaN,0.0,-21
...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,-44,0,-30.0,NaN,0,11250.00,11250.0,0.0,0.0,-19
1716424,100044,5057754,-2648,0,-2433.0,-2493.0,0,38130.84,0.0,0.0,0.0,-2493
1716425,100044,5057762,-1809,0,-1628.0,-970.0,0,15570.00,NaN,NaN,0.0,-967
1716426,246829,5057770,-1878,0,-1513.0,-1513.0,0,36000.00,0.0,0.0,0.0,-1508
1716427,246829,5057778,-463,0,NaN,-387.0,0,22500.00,0.0,NaN,0.0,-387

In [26]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df)

df = imputer.transform(df)

In [28]:
df

array([[ 2.15354000e+05,  5.71446200e+06, -4.97000000e+02, ...,
         0.00000000e+00, -1.31000000e+02,  1.57127577e+04],
       [ 2.15354000e+05,  5.71446300e+06, -2.08000000e+02, ...,
         0.00000000e+00, -2.00000000e+01,  1.57127577e+04],
       [ 2.15354000e+05,  5.71446400e+06, -2.03000000e+02, ...,
         0.00000000e+00, -1.60000000e+01,  1.57127577e+04],
       ...,
       [ 1.00044000e+05,  5.05776200e+06, -1.80900000e+03, ...,
         0.00000000e+00, -9.67000000e+02,  1.57127577e+04],
       [ 2.46829000e+05,  5.05777000e+06, -1.87800000e+03, ...,
         0.00000000e+00, -1.50800000e+03,  1.57127577e+04],
       [ 2.46829000e+05,  5.05777800e+06, -4.63000000e+02, ...,
         0.00000000e+00, -3.87000000e+02,  1.57127577e+04]])

In [5]:
from sklearn.decomposition import PCA

In [6]:
pca = PCA(n_components=5)

In [7]:
pca.fit(df)

ValueError: could not convert string to float: 'Closed'

In [34]:
x = [np.array(x)]

In [35]:
type(x)

list

In [36]:
md.predict(x)

array([0])

In [29]:
df1 = pd.read_csv('/Users/zheng/Downloads/bureau_balance.csv')

In [30]:
df1.head(15)

    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0

In [31]:
df1.shape

(27299925, 3)

In [35]:
df1.nunique()

SK_ID_BUREAU      817395
MONTHS_BALANCE        97
STATUS                 8
dtype: int64

In [36]:
df1.drop_duplicates()

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [37]:
df1.nunique()

SK_ID_BUREAU      817395
MONTHS_BALANCE        97
STATUS                 8
dtype: int64